<h1><%=  @user.username %>'s Profile</h1>

<h3>Most Recent Check Ins</h3>
<% @user.check_ins.each do |check_in| %>
  <%= display_check_in(check_in) %><br><br>
<% end %>

<h3>Favorite Beer</h3>
<%= favorite_beer_tag(@user) %>
