 <div class="row">
  <div class="col-md-6">
    <h2>Last Ten Check-Ins</h2>

    <div class="list-group check-ins-list">

    </div>
  </div>

  <div class="col-md-6">
    <button type="button" name="button" class="btn btn-success pull-right" id="add-check-in">Add Check In</button>
    <div id="right-display" style="display:none;">
      <%= render 'index_form', check_in: @check_in %>
    </div>
  </div>
</div>
