<div class="row">
  <div class="col-md-6">
    <button type="button" name="button" class="btn btn-success" id="add-check-in">Add Check In</button>

    <h2>Most Recent Check-Ins</h2>

    <ul>
      <% @check_ins.each do |check_in| %>
        <li><%= display_check_in(check_in) %></li>
      <% end %>
    </ul>


    <ul>
      <h3>To-Do</h3>
      <strike><li>AMS Setup</li></strike>
      <li>AJAX Form to Submit CheckIn</li>
      <li>Send and Auto Load new CheckIn</li>
    </ul>
  </div>

  <div class="col-md-6" id="new-check-in-form" style="display:none;">
    <%= render 'index_form', check_in: @check_in %>
  </div>
</div>
