<h2><%= @check_in.user.first_name %>'s Check In</h2>
<p><strong><%= link_to @check_in.beer.name, beer_path(@check_in.beer) %></strong> brewed by <%= @check_in.beer.brewery %></p>

<%= link_to "Back", check_ins_path %>
