<div class="col-md-8 offset-md-2">
  <h3>Hi, I'm Zac </h3>
  <p>I modeled this website off an app I use all the time called <%= link_to "Untapped", "http://untappd.com/", :target => "_blank" %>.  This was a project I completed as part of my work at <%= link_to "the Flatiron School", "http://flatironschool.com/", :target => "_blank" %>.</p>

  <p>If you have any trouble using this app or can think of some awesome new features, just let me know by creating an <%= link_to "Issue over on Github", "https://github.com/zacscodingclub/beer-me/issues", :target => "_blank" %></p>

  <p>Thanks for checking out my app!</p>
</div>
