<h1>Testing Main Feed</h1>


<ul>
  <% @check_ins.each do |check_in| %>
    <li><%= display_check_in(check_in) %></li>
  <% end %>
</ul>


<ul>
  <h3>To-Do</h3>
  <li>AMS Setup</li>
  <li>AJAX Form to Submit CheckIn</li>
  <li>Send and Auto Load new CheckIn</li>
</ul>
