<%= current_user.username if user_signed_in? %>

<div class="jumbotron">
  <div class="container">
    <h2>Welcome, come in and have a brew!</h2>

    <p>
      BeerMe is a place for you to enjoy your beer socially!  Here you can share what you're currently enjoying with friends.
    </p>
    <hr><hr>
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <p><small>Not signed up yet? Click below to create a new account!</small></p>
        <%= link_to "Signup", new_user_registration_path, class:"btn btn-primary" %>
      </div>
    </div>

    </p>
  </div>
</div>
