<div class="jumbotron">
  <div class="container">
    <h2>Welcome, come in and have a brew!</h2>

    <p>
      BeerMe is a place for you to enjoy your beer socially!  Here you can reach out to other beer people or something.
    </p>

    <p>
      Not signed up yet? Click below to create a new account!
      <%= button_to "Signup", root_path, class:"btn btn-lg btn-primary" %>
    </p>
  </div>
</div>
