@import "bootstrap-sprockets";
@import "bootstrap";

.white-text {
   color: white;
 }
/*flash*/
.alert-error {
   background-color: #f2dede;
   border-color: #eed3d7;
   color: #b94a48;
   text-align: left;
}

.alert-alert {
   background-color: #f2dede;
   border-color: #eed3d7;
   color: #b94a48;
   text-align: left;
}

.alert-success {
   background-color: #dff0d8;
   border-color: #d6e9c6;
   color: #468847;
   text-align: left;
}

.alert-notice {
   background-color: #dff0d8;
   border-color: #d6e9c6;
   color: #468847;
   text-align: left;
}

.beer_error_messages {
  padding:10px 25px;
  background-color: #f2dede;
  border:3px solid #eed3d7;
  color: #b94a48;
  text-align: left;
  margin-bottom:25px;
}

#add-beer {
  border:2px solid #555;
  background: #666;
  color:#fff;
  padding:10px 30px;
}

.index-check-in {
  margin-top:100px;
  border:1px solid black;
  border-radius:15px;
}
